%p#notice= notice
%p
  %strong Title:
  = @payment.title
%p
  %strong Price:
  = @payment.price
%p
  %strong Bitcoin address:
  = @payment.bitcoin_address
%p
  %strong Description:
  = @payment.description
= link_to 'Edit', edit_payment_path(@payment)
|
=link_to 'Back', payments_path